@keyframes moveBackground {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-100%)
    }
}

@keyframes twinkle {
    0% {
        opacity: .8;
    }
    50% {
        opacity: .2;
    }
    10% {
        opacity: .9;
    }
}

@keyframes drift {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(.2rem, -.2rem );
    }
    100% {
        transform: translate(0, 0);
    }
}