@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-size: var(--fs-300);
  line-height: 1.825;
}

h1,
h2,
h3 {
  color: var(--clr-primary);
}

h2,
h3 {
  font-weight: normal;
  letter-spacing: var(--ls-2);
}

h1 {
  font-size: var(--fs-700);
  letter-spacing: var(--ls-3);
}
h2 {
  font-size: var(--fs-600);
}
h3 {
  font-size: var(--fs-500);
}

p {
  font-size: var(--fs-300);
  letter-spacing: var(--ls-1);
  color: var(--clr-secondary);
}

a {
  font-size: var(--fs-300);
  letter-spacing: var(--ls-1);
  color: var(--clr-secondary);
}
